name: Lint Check
on:
  pull_request:
    branches: [ develop ]
  push:
    branches: [ develop ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Cache Gradle
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties', '**/buildSrc/**/*.kt') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: "temurin"
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Generate Keystore file
        run: |
          echo "$KEYSTORE" > ./keystore.b64
          base64 -d -i ./keystore.b64 > ./keystore.jks
        env:
          KEYSTORE: ${{ secrets.RELEASE_KEYSTORE }}

      - name: Generate local.properties
        run: |
          echo localStoreFile=\"../keystore.jks\" >> local.properties
          echo localStorePassword=\"$PASSWORD\" >> local.properties
          echo localKeyAlias=\"$API_KEY\" >> local.properties
        shell: bash
        env:
          PASSWORD: ${{ secrets.RELEASE_PASSWORD }}
          ALIAS: ${{ secrets.RELEASE_ALIAS }}

      - name: Run ktlint
        run: ./gradlew ktlintCheck